* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* styling starts from here */

body {
  overflow-x: hidden;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: black;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(98, 199, 232);
  padding: 5vw 0;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: black;
}

#page2 h1 {
  font-size: 40vw;
  font-weight: 500;
  text-transform: uppercase;
}
