* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}

#main {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  background-image: url("https://images.unsplash.com/photo-1509803874385-db7c23652552");
  background-size: cover;
  background-position: center;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: white;
}

#nav h2 {
  font-size: 30px;
}

#nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

#full {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: -40%;
  background-color: #ffffff9b;
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}

#full h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
